.nextflow/*
.nextflow.log*
*log

# from the nextflow.io git repo:
.idea/**
.gradle
.*.log*
.cache/*
.vagrant/*
.cache/*
.nextflow*
.node-nextflow*
.devcontainer
.vscode/*
.lineage/
*/*/bin/*
**/build/**
build/**
modules/**/build/
modules/**/*.iml
modules/nextflow/work/
**/out/*
tmp/*
work/*
nextflow.eml
nextflow.iml
Vagrantfile
resources/*
test/*
tools/*
tests_other
other
docs/_build/
./*.txt
errors/
misc/
cloud/my-*
docker-test
docker/dist
docker/nextflow
temp
.dockerignore
.launch.classpath
plugins-prod
/minio
/sandbox
/wave-tests
/test-sched
/test-module
/results
/x/*
mise.toml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.py[oc]
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
*.lcov
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq-data/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Job yamls
job*

# IDEs
.vscode/
.idea/  # pycharm

# Ruff stuff:
.ruff_cache/

# There is no need to commit any logs or configs:
# logs:
*.logs
