includeConfig 'conf/params.config'
includeConfig 'conf/profiles.config'

manifest {
    name            = 'Orange Box'
    author          = 'GPHA'
    homePage        = ''
    description     = 'mSCAPE specific sample analysis that combines several key modules'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version         = '1.0.0'
}
