def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

params {

    input = null

    // Boilerplate options
    tracedir                   = "${params.outdir}/pipeline_info/${trace_timestamp}"
    publish_dir_mode           = 'copy'

    max_memory                 = '1GB'
    max_cpus                   = 1
    max_time                   = '1h'

    // qc_sample params

    // Orange Box parameters
    // Switch between these depending on where the Nextflow is running

    // (1) pipelines tenant bucket:
//    bucket                       = 'pipelines_tenant_orange_box_bucket'

    // (2) Dan testing on synthscape:
    bucket                     = 'synthscape_staging_bucket'

    // ClasPar params
    taxaplease_db = null
    profile_tables = null
}
